/* * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.popup {
    position: fixed;
    right: 0;
    bottom: -20px;
    background-color: rgb(255, 0, 221) ;
    font-family: sans-serif;
    text-align: center;
    width: 300px;
    height: 450px;
    padding: 20px;
    transform: translate(40%, 50%) scale(0.1);
    transition: bottom 1.5s;
    border-radius: 15px;
    opacity:80%;
    
}
.open-popup {
    visibility: visible;
    transform: translate(-15%, -20%) scale(1);
    transition: bottom 1.5s;
}
.titulo-form {
    margin-top: 10px;
}
.subtitulo-form {
    margin-top: 10px;
}
.btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: black;
    transition: .3s ease all;
}
.btn-cerrar-popup:hover {
    color: black;
}
.form {
    position: fixed;
    bottom: 15px;
    right: 25px;
    display: flex;
    width: 140px;
    height: 41px;
    background-color: rgb(155, 60, 184);
    color: white;
    font-size: 25px;
    text-align: center;
    justify-content: flex-end;
    align-items:center;
    padding-right: 22px;
    border-radius: 23px;
    cursor: pointer;
    font-family: lato, sans-serif;
    font-weight: 500;
}
.cerrarForm {
    cursor: pointer;
    display: block;
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 1.8em;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
}

 */
.form-hidden{
    position: fixed;
    border: 1px solid transparent;
    width: 300px;
    height: 500px;
    right: 20px;
    bottom: -503px;
    background-color: rgb(240, 114, 233);
    transition: bottom 1.5s;
    opacity:80%;
}
.form-visible{
    width: 300px;
    height: 500px;
    border: 1px solid transparent;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgb(240, 114, 233);
    transition: bottom 1.5s;
    opacity:80%;
}
.cerrar-form-visible{
    cursor: pointer;
    margin-left: 280px;
   color: black;
   font-size: 1.3em;
}
.boton-visible{
    cursor: pointer;
    margin-left: 1230px;
    border: 10px;
    width: 100px;
    background-color: rgb(248, 97, 203);
    height: 20px;
    border-radius: 23px;
}